ansicon==1.89.0
astroid==3.2.2
beautifulsoup4==4.12.3
blessed==1.20.0
bs4==0.0.2
certifi==2024.7.4
charset-normalizer==3.3.2
colorama==0.4.6
contourpy==1.2.1
cycler==0.12.1
dill==0.3.8
distro==1.9.0
enlighten==1.12.4
et-xmlfile==1.1.0
fonttools==4.53.1
idna==3.7
isort==5.13.2
jinxed==1.2.1
joblib==1.4.2
kiwisolver==1.4.5
lazy-object-proxy==1.10.0
logging==0.4.9.6
lxml==5.2.2
matplotlib==3.9.1
mccabe==0.7.0
numpy==2.0.0
openpyxl==3.1.5
packaging==24.1
pandas==2.2.2
pathlib==1.0.1
pillow==10.4.0
platformdirs==4.2.2
prefixed==0.7.1
psycopg2-binary==2.9.9
pylint==3.2.5
pyparsing==3.1.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
requests==2.32.3
scikit-learn==1.5.1
scipy==1.14.0
six==1.16.0
soupsieve==2.5
tabula-py==2.9.3
threadpoolctl==3.5.0
tk==0.1.0
tomlkit==0.12.5
tqdm==4.66.4
tzdata==2024.1
urllib3==2.2.2
wcwidth==0.2.13
wrapt==1.16.0
xlrd==2.0.1
